In [ ]:
import pandas as pd
import numpy as np

In [228]:
true = pd.read_csv(r"C:\Users\sanja\Downloads\True.csv")

In [230]:
fake = pd.read_csv(r"C:\Users\sanja\Downloads\Fake.csv")

In [232]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [234]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [236]:
true['label']=1

In [238]:
fake['label']=0

In [240]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [242]:
fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [244]:
news = pd.concat([fake, true],axis=0)

In [246]:
news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [248]:
news.tail()

,title,text,subject,date,label
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [250]:
news.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [252]:
news = news.drop(['title','subject','date'],axis=1)

In [254]:
news.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [256]:
news.tail()

                                                    text  label
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
21413  LONDON (Reuters) - LexisNexis, a provider of l...      1
21414  MINSK (Reuters) - In the shadow of disused Sov...      1
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      1
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

In [258]:
news = news.sample(frac=1)

In [260]:
news.head()

                                                    text  label
4181   Donald Trump s lewd and predatory remarks abou...      0
16439  How careless are these people? Clinton s right...      0
13700  We can all agree on solutions to end terrorism...      0
13673  KANDAHAR, Afghanistan (Reuters) - A roadside b...      1
17681  NEW DELHI (Reuters) - An Indian court on Thurs...      1

In [262]:
news.drop(['index'],axis=1,inplace=True,errors='ignore')

In [264]:
news.head()

                                                    text  label
4181   Donald Trump s lewd and predatory remarks abou...      0
16439  How careless are these people? Clinton s right...      0
13700  We can all agree on solutions to end terrorism...      0
13673  KANDAHAR, Afghanistan (Reuters) - A roadside b...      1
17681  NEW DELHI (Reuters) - An Indian court on Thurs...      1

In [266]:
import re

In [268]:
def wordopt(text):
    text=text.lower()
    text=re.sub(r'https?://\S+','',text)
    text=re.sub(r'<.*?>','',text)
    text=re.sub(r'[^\w\s]','',text)
    text=re.sub(r'\n',' ',text)
    return text

In [270]:
news['text']=news['text'].apply(wordopt)

In [272]:
news['text']

4181     donald trump s lewd and predatory remarks abou...
16439    how careless are these people clinton s righth...
13700    we can all agree on solutions to end terrorism...
13673    kandahar afghanistan reuters  a roadside bomb ...
17681    new delhi reuters  an indian court on thursday...
                               ...
9370     cleveland reuters  the state of ohio filed a f...
22847    tune in to the alternate current radio network...
6627     you might remember a few months ago the bernie...
19771    oslo reuters  a former senior norwegian police...
23064    consortium news exclusive despite mainstream m...
Name: text, Length: 44898, dtype: object

In [274]:
x = news['text']
y=news['label']

In [276]:
x

4181     donald trump s lewd and predatory remarks abou...
16439    how careless are these people clinton s righth...
13700    we can all agree on solutions to end terrorism...
13673    kandahar afghanistan reuters  a roadside bomb ...
17681    new delhi reuters  an indian court on thursday...
                               ...
9370     cleveland reuters  the state of ohio filed a f...
22847    tune in to the alternate current radio network...
6627     you might remember a few months ago the bernie...
19771    oslo reuters  a former senior norwegian police...
23064    consortium news exclusive despite mainstream m...
Name: text, Length: 44898, dtype: object

In [278]:
y

4181     0
16439    0
13700    0
13673    1
17681    1
        ..
9370     1
22847    0
6627     0
19771    1
23064    0
Name: label, Length: 44898, dtype: int64

In [280]:
from sklearn.model_selection import train_test_split

In [282]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [284]:
x_train.shape

(31428,)

In [286]:
x_test.shape

(13470,)

In [288]:
 from sklearn.feature_extraction.text import TfidfVectorizer

In [290]:
vectorization = TfidfVectorizer()

In [292]:
xv_train = vectorization.fit_transform(x_train)

In [ ]:
xv_test = vectorization.transform(x_test)

In [ ]:
xv_train

In [ ]:
xv_test

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
LR = LogisticRegression()

In [ ]:
LR.fit(xv_train,y_train)

In [ ]:
pred_lr =LR.predict(xv_test)

In [ ]:
LR.score(xv_test,y_test)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred_lr))

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
DTC =DecisionTreeClassifier()

In [ ]:
DTC.fit(xv_train,y_train)

In [ ]:
pred_dtc = DTC.predict(xv_test)

In [ ]:
DTC.score(xv_test,y_test)

In [ ]:
print(classification_report(y_test,pred_dtc))

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rfc = RandomForestClassifier()

In [ ]:
rfc.fit(xv_train,y_train)

In [ ]:
predict_rfc = rfc.predict(xv_test)

In [ ]:
rfc.score(xv_test,y_test)

In [ ]:
print(classification_report (y_test,predict_rfc))

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
gbc = GradientBoostingClassifier()

In [ ]:
gbc.fit(xv_train,y_train)

In [ ]:
pred_gbc = gbc.predict(xv_test)

In [ ]:
gbc.score(xv_test,y_test)

In [ ]:
print(classification_report(y_test,pred_gbc))

In [ ]:
def output_label(n):
    if n==0:
        return "It is a Fake News"
    elif n==1:
        return "It is a Genuine News"

In [ ]:
def manual_testing(news):
    testing_news={"text":[news]}
    new_def_test= pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_lr =LR.predict(new_xv_test)
    pred_gbc = gbc.pred(new_xv_test)
    pred_rfc=rfc.predict(new_xv_test)
    return"\n\nLR Prediction: {} \nRFC Prediction : {}".format(
     output_label(pred_lr[0]), output_label(pred_gbc[0]), output_label[0]))

In [ ]:
news_article = str(input())

In [ ]:
manual_testing = str(news_article)